.table-action{
    position: relative;
    width: fit-content;
}

.table-action .action-label{
    padding: 6px 14px;
    background-color: #F6F6F6;
    border-radius: 5px;
    border: 1px solid #E8E8E8;
    font-size: 14px;
    color: black;
}

.table-action .action-label:hover{
    cursor: pointer;
}

input[name='action-checkbox']:checked + label + div{
    display: block;
}

input[name='action-checkbox'] + label + div{
    position: absolute;
    width: 140px;
    padding: 10px;
    background: #FFF;
    box-shadow: 0 5px 10px rgba(30, 32, 37, 0.12);
    border: 1px solid #E8E8E8;
    inset: 0px 0px auto auto;
    margin: 0px;
    transform: translate(0px, 35px);
    display: none;
    border-radius: 5px;
    z-index: 3;
}
.table-with-pagination tbody tr:last-child input[name='action-checkbox'] + label + div{
    inset: auto 0px 0px auto;
    transform: translate(0px, -35px);
}

.table-action button{
    background-color: transparent;
    padding: 5px 10px;
    color: #323737;
    transition: all 1s ease;
}

.table-action button:hover{
    background-color: #E8E8E8;
    border-radius: 5px;
}

