.status{
    padding: 2px 4px;
    border-radius: 5px;
    width: fit-content;
}

.in_progress{
    background-color: rgb(252, 252, 215);
    color: rgb(145, 145, 20)
}
.not_verified{
    background-color: rgb(252, 213, 213);
    color: red;
}
.verified{
    background-color: rgb(209, 250, 209);
    color: green;
}


