:root{
    --side-bar-arrow-opacity :1;
    --side-bar-arrow-degree :0deg
}

#side-bar{
    /* background-color: red; */
    width: 100%;
    height: 100%;
}

#logo-container{
    height: var(--top-bar-height);

}

#toggle-side-bar-div  .ti-arrow-bar-to-left{
    font-size: 18px;
}


#toggle-side-bar + label{
    transform: rotate(var(--side-bar-arrow-degree));
    opacity: var(--side-bar-arrow-opacity);
    transition: all 0.5s ease;
    
}
/* #E41F07 */
#toggle-side-bar-label:hover{
    color: #E41F07;
    cursor: pointer;
}
.side-bar-option .option-icon{

        color: #262A2A;
        font-size: 16px;
        background: #d8d8d8;
        border-radius: 5px;
        /* width: 26px;
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: center; */
    }

.option-text{
    margin-left: 10px;
}
.side-bar-option:hover  .option-text{
    color: #E41F07;
}

.active{
    background-color: #fcd4cd;
    border-radius: 5px;
}

.active .option-icon{
    background-color: #f04933;
    color: white;
}