body{
  box-sizing: border-box;
  background-color: rgb(235, 235, 229);
}


.x-sm-font{
  font-size: 14px;
}

.sm-font{
  font-size: 15px;
}

.medium-font{
  font-size: 16px;
}

.large-font{
  font-size: 18px;
}

.noto-sans-font{
  font-family: 'Noto Sans';
}

.regular-font{
  font-weight: 500;
}

.semibold-font{
  font-weight: 600;
}

.bold-font{
  font-weight: 700;
}